* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #F9FAFC;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background: #01134E;
  z-index: 2;
}
#menu>ul {
  position: relative;
  height: 100%;
  width: 100%;
  top: 19vh;
}
#menu>ul>li {
  display: inline-block;
  width: 100%; 
  border-left: 3px solid transparent;
}

#menu>ul>li:last-child {
  border-left: 3px solid #0AD69C;
}

#menu>ul>li>img {
  margin: 1em 1.5vw;
  width: 1.5vw;
}

#top_stripe {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #eee;
}

.custom_menu {
  display: block;
}

.custom_menu li {
  list-style-type: none;
}

.hier_line {
  flex: 8 3 auto; 
  padding-left: 1.5em;
}

.hier_line li {
  float: left; 
  padding: 0 10px;
}

.hier_line li:not(:first-child)::before {
  content: url(pics/arrow.svg);
  margin-right: 15px;
}

#logo {
  z-index: 3;
  width: 3%;
  padding: 1%;
}

#user {
  padding-right: 1em;
}

#user>figure::after {
  content: url(pics/arrow2.svg);
  margin-left: 0.3em;
  cursor: pointer;
}

#user>figure>* {
  float: left;
  margin: 0 0.3em;
}

main {
  display: flex;
  position: absolute;
  top: 10vh;
  left: 5%;
  right: 0;
  margin: 10vh;
  max-height: 67vh;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  border-radius: 4px;
}

#dialogs {
  overflow-x: hidden;
  overflow-y: scroll;
}

#dialogs>ul>li {
  position: relative;
  width: 350px;
  height: 6vh;
  padding: 20px;
  clear: both;

}
#dialogs>ul>li:nth-child(3) {
  box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
}

time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.428571px;
  color: #9BA0AD;
}
main>* {
  background: #fff;
}

#dialogs>ul>li>time {
  position: absolute;
  top: 10px;
  right: 10px;
}
#dialogs>ul>li>img {
  float: left;
  margin: 0 1em;
}
#dialogs>ul>li>mark {
  background: #fff;
  font-size: 16px;
  line-height: 19px;
}

#dialogs>ul>li>p {
  margin-top: 0.3em;
  color: #252F48;
  font-size: 14px;
  line-height: 18px;
}

#messages_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#messages_container>header, #messages_container>article, #messages_container>footer {
  width: 100%;
}

#messages_container>article {
  flex: auto; 
}

#messages_container input {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 3.5em;
  border: 0;
  letter-spacing: 0.5px; 
}

#messages_container input::placeholder {
  color: #252F48;
  opacity: 0.2;
}

#messages_container>header {
  display: flex;
  border-bottom: 1px solid #F5F6F9;
}

#messages_container>footer { 
  display: flex;
  box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.146541);
}

#search_btn {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;  
}

.message_actions {
  display: block;
  margin: 5px 0;
  padding: 10px;
  width: 36px; 
  height: 36px;
  box-sizing: border-box;
}

.message_actions:last-child {
  box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
  border-radius: 7px;
  margin: 5px 15px;
}

#messages_container>article {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#messages_container .message {
  position: relative;
  background: #F7F9FC;
  max-width: 300px;
  
  margin: 10px 10px 0 10px;
  padding: 10px;
}

#messages_container .message.message-from {
  border-radius: 5px 5px 5px 0;
  align-self: flex-start;
}

#messages_container .message.message-to {
  border-radius: 5px 5px 0 5px;
  align-self: flex-end;
}

  #messages_container .message.message-from::before {
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #F7F9FC transparent;  }
  
  #messages_container .message.message-to::after {
    position: absolute;
    right: -10px;
    bottom: 0;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #F7F9FC transparent;
  }

.message>p {
  display: block;
  margin-right: 50px;
}

.message>time {
  position: absolute;
  bottom: 10px;
  right:  10px;
}
.msg_sender {
  align-self: flex-end;
  margin: 0 10px 0 10px;
}
.msg_sender_container {
  display: flex;
}

.msg_sender {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
